/* General Styles
******************************/
.containers {
	width  : 950px;
	margin : 0 auto;
	/*border : 1px dashed rgba(0, 0, 0, 0.5);*/
}

.mra {
	margin-right : auto;
}

.mla {
	margin-left : auto;
}

.left {
	float : left;
}

.right {
	float : right;
}

.last {
	margin-left : 0 !important;
}

a {
	text-decoration : none;
}

.ghover:hover {
	color : #93ac12;
}

.cover:before , .cover:after {
	display : block;
	content : ' ';
	width   : 0;
	height  : 0;
}

.cover:after {
	clear : both;
}

.learn-more {
	display : inline-block;
	cursor  : pointer;
	color   : #FFF;
	width   : auto;
	font-size : 17px;
	font-family : 'Roya';
	padding : 6px 15px;
	border-radius : 3px;
	background-color : #93ac12;
	background-image : -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	background-image :    -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	background-image :     -ms-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	background-image :      -o-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
	text-shadow      : 0 -1px rgba(0, 0, 0, 0.2);
}

.learn-more:hover {
	background-color : #333;
}

@font-face {
		    font-family: 'Roya';
		    src: url('../font/BRoya.eot');
		    src: url('../font/BRoya.eot?#iefix') format('embedded-opentype'),
		         url('../font/BRoya.woff') format('woff'),
		         url('../font/BRoya.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}
@font-face {
		    font-family: 'Nazanin';
		    src: url('../font/BNazanin.eot');
		    src: url('../font/BNazanin.eot?#iefix') format('embedded-opentype'),
		         url('../font/BNazanin.woff') format('woff'),
		         url('../font/BNazanin.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}
@font-face {
		    font-family: 'Titr';
		    src: url('../font/BTitrBold.eot');
		    src: url('../font/BTitrBold.eot?#iefix') format('embedded-opentype'),
		         url('../font/BTitrBold.woff') format('woff'),
		         url('../font/BTitrBold.ttf') format('truetype');
		    font-weight: normal;
		    font-style: normal;
		}

.roya {
	font-family: 'Roya' !important;
}
.titr {
	font-family: 'Titr' !important;
	font-weight: normal !important;
}
.nazanin {
	font-family: 'Nazanin' !important;
}

/* Header
******************************/
header {
	border-top : 3px solid #93ac12;
}

.logo a {
	color : #333;
	display   : block;
	font      : inherit;
	padding   : 20px;
}

nav {
	margin-right  : 200px; 
	padding-bottom: 3px;
}

header nav li {
	float : right;
	position: relative;

}

li.selected {
	background-color : #93ac12;
}

nav li:after {
	display : block;
	position: absolute;
	content : '';
	border-style : solid;
	border-width : 0 5px 5px 5px;
	border-color : transparent transparent #fff transparent;
	bottom  : 0;
	left    : 44%;
}



nav li:hover {
	background-color : #333;
}

nav a:hover {
	color : #FFF;
}

nav a {
	color   : #333;
	display : block;
	padding : 41px 20px 26px;
	font-size : 15px;
}

/* Banner
******************************/


/* Content
******************************/
.content-featured {
	background-color : #1a1a1a;
	color   : #e5e5e5;
	padding : 25px 0;
	box-shadow : 0 4px 4px rgba(0,0,0,0.4) inset;
	text-align : center;
	margin-bottom: 40px;
}

.content-featured p {
	font-size : 22px;
}

.content-featured a {
	color : #fff;
	font-size : 18px;
	font-weight : bold;
}

.content-featured a:hover {
	color : #93ac12;
}

.content .topnews {
	margin-bottom: 50px;
}

.content .topnews article {
	float : right;
	width : 230px;
	margin-left : 10px;
}

.content .topnews a {
	display : block;
}

.topnews .bg-article {
	padding  : 15px 15px 20px;
	position : relative;
	color    : #333;
	background-color : #f2f2f2;
	border-bottom : 1px solid #d9d9d9;
}

.bg-article:hover {
	background-color : #fff;
	border-bottom : 1px solid #93ac12;
}

.bg-article h2 {
	font-family : 'Titr';
}

.bg-article:hover h2 {
	color : #93ac12;
}

.bg-article figure {
	width  : 128px;
	height : 128px;
	margin : 10px auto;
}

.bg-article h2 {
	color  : #333;
	margin : 10px 0 20px;
}

.bg-article p {
	text-align   : justify;
	margin-bottom: 20px;
	line-height  : 22px;
	font-family  : 'Nazanin';
}

/* Footer
******************************/

div.footer-featured {
	padding  : 20px 0; 
	position : relative;
	background-color : #93AC0A;
}

.footer-featured:before {
	display : block;
	content : '';
	position: absolute;
	top : 0;
	left : 49.3%;
	border-style : solid;
	border-width : 10px 10px 0 10px;
	border-color : #fff transparent transparent transparent;
}


.footer-featured .desc {
	margin-left: 400px;
}

.footer-featured h2 {
	margin : 20px 0;
}

.footer-featured h2 a {
	color : #fff;
	font-family : 'Titr';
}

.footer-featured h2:hover a {
	color : #333;
}

.footer-featured p {
	color : #fff;
	line-height  : 22px;
	font-family  : 'Nazanin';
	font-size    : 18px;
	text-align   : right;
}

.footer-featured .download {
	display : block;
	width   : 152px;
	height  : 128px;
	background-image: url('../images/pdf.png');
	
}

.footer-top {
	background-color : #333;
	padding : 35px 0 15px;
	color   : #999;
}

.footer-top > div > div {
	float : right;
	width : 230px;
	height: 230px;
	margin-left : 10px;
}

.footer-top * {
	font-family : 'Nazanin';
}

.footer-top p {
	line-height : 20px;
}

.footer-top .title {
	padding  : 10px 0 15px; 
	color    : #e5e5e5;
	font-family : 'titr';
	margin-bottom : 20px;
	border-bottom : 1px solid #4c4c4c;	
}

.mail {
	display : block;
	background-color : #404040;
	border  : 1px solid #4c4c4c;
	padding : 5px 10px;
	box-shadow : 0 0 5px rgba(0, 0, 0, 0.2) inset;
	margin  : 20px 0; 
	width   : 80%;
	font-size : 15px;
}

.subscribe {
	border : none !important;
	outline: none !important;
	background-color : #1a1a1a;
	font-size : 15px;
	font-weight : bold;
	padding     : 3px 13px;
}

.subscribe:hover {
	background-color: #93ac12;
}

.footer-top .last li {
	padding-right : 30px;
	margin        : 20px 0;
	background-repeat : no-repeat;
	background-position : right center;
}

.footer-top li.email {
	color : #93ac12;
}

.footer-bottom {
	background-color : #1a1a1a;
	color : #808080;
	box-shadow : 0 4px 4px rgba(0,0,0,0.2) inset;
	border-top : 1px solid #000;
	padding    : 30px 0;
	font-size  : 13px;
}

.footer-bottom ul li {
	float : right;
	margin-left: 15px;
}

.footer-bottom li a {
	display : block;
	width   : 16px;
	height  : 16px;
}


